.feedback-edit-container {
  position: fixed; /* Sit on top of the page content */
  padding: 0 8px;
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */

  &.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.feedback-edit-form {
  background-color: #fff;
  padding: 20px 16px;
  border-radius: 8px;
  max-width: 500px;
  display: block;
  position: relative;
  width: 100%;

  .emoji-container {
    min-width: 84px;
    max-width: 96px;
    width: 100%;
    height: 88px;
    padding: 8px;
  }

  .close {
    position: absolute;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
  }

  > h2 {
    margin-bottom: 20px;
  }

  .info-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    margin-top: 8px;
    color: #999999;
    gap: 8px;

    .warning-icon {
      font-size: 12px;
    }

    .warning-text {
      font-size: 12px;
    }
  }

  .edit-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    input[type="submit"],
    input[type="button"] {
      padding: 12px 20px;
      font-size: 16px;
      border: none;
    }

    input[type="submit"].invert,
    input[type="button"].invert {
      background-color: white;
      border: 2px solid #eeeeee;
      color: black;
    }
  }
}

@media (max-width: 530px) {
  .feedback-edit-form {
    .emoji-container {
      min-width: 80px;
      padding: 8px;
      height: 80px;
    }
  }
}

@media (max-width: 710px) {
  .feedback-edit-form {

    .warning-text {
      font-size: 12px;
    }
  }
}

@media (max-width: 465px) {
  .feedback-edit-form {
    .emoji-container {
      min-width: 68px;
      padding: 4px;
    }
  }
}
